.container{
    width: 640px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 3rem;
    background: #ffff;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}

.container hr {
    height: 2px;
    border: none;
    background: #707070;
}

.container h2{
    font-size: 27px;
    font-weight: 500;
}

.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background: #3f9a56;
    color: #ffff;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.container .index {
    margin: auto;
    font-size: 18px;
}

.container .correct {
    background: #dffff2;
    border-color: #00d397;
}

.container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 20px;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50;
    width: 0;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
  }
  

  
  .start-screen {
    padding: 20px;
  }
  
  .start-screen h2 {
    margin-bottom: 20px;
  }
  
  .start-screen button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  